<body>
<div class="navigation">
    <ul>
        <li class="list">
            <a href="{{ site.baseurl }}/">
                <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list">
            <a href="{{ site.baseurl }}/camera">
                <span class="icon">
                <ion-icon name="camera-outline"></ion-icon>
                </span>
                <span class="text">Camera</span>
            </a>
        </li>
        <li class="list">
            <a href="{{ site.baseurl }}/gallery">
                <span class="icon">
                <ion-icon name="images-outline"></ion-icon>
                </span>
                <span class="text">Gallery</span>
            </a>
        </li>
        <li class="list">
            <a href="{{ site.baseurl }}/quotes">
                <span class="icon">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                </span>
                <span class="text">Quotes</span>
            </a>
        </li>
        <li class="list">
            <a href="{{ site.baseurl }}/therapist" id="profile-link">
                <span class="icon">
                <ion-icon name="person-outline"></ion-icon>
                </span>
                <span class="text">Therapist</span>
            </a>
        </li>
        <div class="indicator" id="indicator"></div>
    </ul>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root{
        --clr: #FFBF46;
    }

    body {
        display: flex;
        justify-content: center;
        min-height: 110vh;
    }

    .navigation {
        position: relative;
        width: 450px;
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 1.4cm;
        margin-bottom: 0.9vh;
    }

    .navigation ul {
        display: flex;
        width: 350px;
    }

    .navigation ul li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 27px;
        z-index: 1;
    }

    .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }

    .navigation ul li a .icon {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        margin-left: 0.65vh;
        transition: 0.5s;
        color: black;
    }

    .navigation ul li.active a .icon {
        transform: translateY(-32px);
    }

    .navigation ul li a .text {
        position: absolute;
        color: black;
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
        margin-left: 0.7vh;
        margin-top: 1.2vh;
        font-family: 'Poppins', sans-serif;
    }

    .navigation ul li.active a .text {
        opacity: 1;
        transform: translateY(10px);
    }

    .indicator {
        position: absolute;
        top: -50%;
        width: 70px;
        height: 70px;
        background: #FF99C9;
        border-radius:  50%;
        border: 6px solid var(--clr);
        transition: 0.5s;
    }

    .indicator::before{
        content: '';
        position: absolute;
        top: 50%;
        left: -20%;
        width: 20px;
        height: 20px;
    }

    .indicator::after{
        content: '';
        position:absolute;
        top: 50%;
        left: -20%;
        width: 20px;
        height: 20px;
    }

    .navigation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(70px * 0));
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(70px * 1));
    }

    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(70px * 2));
    }

    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(calc(70px * 3));
    }

    .navigation ul li:nth-child(5).active ~ .indicator{
        transform: translateX(calc(70px * 4));
    }

</style>

<script>
    const currentPage = window.location.pathname;
    const listItems = document.querySelectorAll('.list');
    const indicator = document.querySelector('.indicator');

    listItems.forEach((item, index) => {
        const link = item.querySelector('a');
        if (link.getAttribute('href') === currentPage) {
            item.classList.add('active');
            indicator.style.transform = `translateX(calc(70px * ${index}))`;
        }
    });

    listItems.forEach((item, index) => {
        const link = item.querySelector('a');
        link.addEventListener('click', (event) => {
        
            // Remove the 'active' class from all items
            listItems.forEach((listItem) => {
                listItem.classList.remove('active');
            });

            // Add the 'active' class to the clicked item
            item.classList.add('active');
            indicator.style.transform = `translateX(calc(70px * ${index})`;
        });
    });
      
</script>