body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(45deg, yellow, orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive; /* Use a cursive font */
    color: black;
}

.title {
    font-size: 60px;
    margin-bottom: 20px;
}

.container {
    width: 5in;
    height: 4in;
    background-color: white;
    border: 5px solid gray;
}
